#enduro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardEnduro{
    padding: 10px;
    width: 20%;
    border: solid 1px;
    box-shadow: 3px 3px 2px black;
    border-radius: 20px;
    margin-bottom: 5px;
}
.vercarrito{
    position: sticky;
    font-size: 2rem;
}