#endurosect{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#enduro{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardEnduro{
    padding: 10px;
    width: 20%;
    border: solid 1px;
    box-shadow: 3px 3px 2px black;
    border-radius: 20px;
    margin-bottom: 5px;
}
#carrito_lateral{
    width: 25%;
    background-color: blue;
}
